html, body {
  font-size: 60%;
}

.desktop {
  display: none;
}

header {
  height: 20rem;
}

.content-image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15rem;
}

.content-image img {
  width: 25rem;
}

.content-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.menu-nav {
  display: flex;
  justify-items: center;
  align-items: center;
  flex-direction: row;
}

.menu-nav li + li {
  margin-left: 1.2rem;
}

.link-item {
  color: #000;
  font-size: 1.3rem;
  text-decoration: none !important;
  transition: color 0.3s font-weight 0.3s;
}

.link-item:hover {
  color: #c10008;
  font-weight: 700;
}

.active-link {
  color: #c10008;
  font-weight: 700;
}

.block-one {
  background-image: url("../images/background-block-one.png");
  background-size: cover;
}

.container-one {
  margin: 3rem 0;
}

.form-peticao {
  background: #c10008;
  padding: 2rem;
}

.title-form {
  font: 600 3rem Arial;
  color: #FFF;
  padding: 1rem 0;
}

.input-form {
  background: #c10008 !important;
  color: #FFF !important;
  border: 0 !important;
  outline: 0;
  border-bottom: 2px solid #FFF !important;
}

.input-form::placeholder {
  color: #FFF !important;
  font-size: 1.4rem;
}

.form-group {
  margin-bottom: 2.2rem !important;
}

.form-control:disabled {
  background-color: #FFF !important;
}

.form-control {
  font-size: 1.4rem !important;
  padding: 0;
}

.button-form {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fcdd04;
  color: #000 !important;
  width: 30rem;
  height: 5.6rem;
  font: 700 3rem Arial;
  border-radius: 0.8rem;
  text-decoration: none !important;
  border: 0;
  outline: 0;
  transition: opacity 0.5s;
}

.button-apoio {
  display: flex;
  justify-content: center;
}

.button-facebook {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3b66a6;
  color: #FFF !important;
  width: 30rem;
  height: 5.6rem;
  font: 700 3rem Arial;
  border-radius: 0.8rem;
  text-decoration: none !important;
  border: 0;
  outline: 0;
  transition: opacity 0.5s;
}

.button-twiiter {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #398ac3;
  color: #FFF !important;
  width: 30rem;
  height: 5.6rem;
  font: 700 3rem Arial;
  border-radius: 0.8rem;
  text-decoration: none !important;
  border: 0;
  outline: 0;
  transition: opacity 0.5s;
}

.button-compartilhe {
  display: flex;
  justify-content: center;
}

.text-form {
  color: #FFF;
  font-size: 1.5rem;
}

.text-compartilhe {
  color: #FFF;
  font-size: 2rem;
  text-align: center;
  padding: 1rem 0;
}

.block-total {
  background: #FFF;
  padding: 3.2rem;
  color: #000;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 3rem;
}

.block-total span {
  color: #c10008;
}

.content-one {
  display: flex;
  justify-content: center;
}

.title-block-one {
  font: 800 5rem "Nunito";
  text-transform: uppercase;
  color: #c10008;
  line-height: 5rem;

  padding: 3rem 1.5rem;
}

.title-block-one span {
  font-size: 7.2rem;
  font-weight: 900;
}

.text-block-one {
  font: 800 1.9rem "Nunito";
  text-transform: uppercase;
  color: #000;
  line-height: 2.8rem;

  padding-bottom: 1.5rem;
}

.text-block-one span {
  font-size: 3.2rem;
}

.content-one-button {
  background-color: #FFF;
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-block-one {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #c10008;
  color: #FFF !important;
  width: 35rem;
  height: 5.6rem;
  font: 700 3rem Arial;
  border-radius: 1rem;
  text-decoration: none !important;
  border: 0;
  outline: 0;
  transition: opacity 0.5s;
}

.button-block-one:hover {
  opacity: 0.8;
}

.image-block-one {
  width: 100%;
  margin-bottom: 0.5rem;
}

.block-two {
  background-color: #000;
  padding: 6rem 0;
}

.title-block-two {
  font: 800 3rem "Baloo Tamma 2";
  text-transform: uppercase;
  color: #FFF;
  line-height: 3.5rem;

  padding: 0 1.5rem 2rem;
}

.title-block-two span {
  color: #c10008;
}

.contador-block-two {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}

.contador-block-two div + div {
 margin-left: 1.5rem;
}

.title-contador-block-two {
  font: 800 8rem "Baloo Tamma 2";
  color: #FFF;
  line-height: 2.8rem;
  text-transform: uppercase;
}

.text-contador-block-two {
  font: 700 1.6rem "Baloo Tamma 2";
  color: #FFF;
  line-height: 2.8rem;
  text-transform: uppercase;
}

.text-block-two {
  font: 1.8rem "Baloo Tamma 2";
  color: #FFF;
  line-height: 2.8rem;

  padding: 0 2rem;
  margin-bottom: 0;
}

.image-block-two {
  width: 100%;
  max-width: 60rem;

  padding-top: 3rem;
}

.block-three {
  background-color: #e5e5e5;
}

.title-block-three {
  font: 800 2.5rem "Baloo Tamma 2";
  text-transform: uppercase;
  color: #193c76;
  line-height: 2.8rem;
  padding: 3rem 0;
}

.title-block-three span {
  color: #c10008;
}

.background-white {
  background-color: #FFF;
  padding: 4rem 0;
}

.contador-block-three {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}

.contador-block-three div + div {
 margin-left: 1.5rem;
}

.title-contador-block-three {
  font: 800 8rem "Baloo Tamma 2";
  color: #000;
  line-height: 2.8rem;
  text-transform: uppercase;
}

.text-contador-block-three {
  font: 700 1.6rem "Baloo Tamma 2";
  color: #000;
  line-height: 2.8rem;
  text-transform: uppercase;
}

.subtitle-block-three-red {
  font: 800 3.5rem "Baloo Tamma 2";
  text-transform: uppercase;
  color: #c10008;
  line-height: 3.8rem;
}

.subtitle-block-three-black {
  font: 800 3.5rem "Baloo Tamma 2";
  text-transform: uppercase;
  color: #000;
  line-height: 3.8rem;
}

.text-block-three {
  font: 1.75rem "Baloo Tamma 2";
  color: #5b5858;
  line-height: 2.4rem;

  padding: 2rem 0;
}

.image-block-three {
  width: 100%;
  max-width: 60rem;
}

.content-button-three {
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-block-three {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #c10008;
  color: #FFF !important;
  width: 35rem;
  height: 5.6rem;
  font: 700 3rem Arial;
  border-radius: 1rem;
  text-decoration: none !important;
  border: 0;
  outline: 0;
  transition: opacity 0.5s;
}

.button-block-three:hover {
  opacity: 0.8;
}

.block-four {
  background-color: #000;
  padding-top: 6rem;
}

.title-block-four {
  font: 800 2.6rem "Baloo Tamma 2";
  text-transform: uppercase;
  color: #FFF;
  line-height: 3rem;
}

.title-block-four span {
  color: #c10008;
}

.line-block-four {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 2.5rem 0;
}

.line-block-four hr {
  width: 85%; 
  border: 1px solid #c10008; 
}

.text-primary-block-four{
  font: 1.7rem "Baloo Tamma 2";
  color: #FFF;
  line-height: 2.8rem;

  padding: 0 1rem;
}

.text-secondary-block-four {
  font: 1.75rem "Baloo Tamma 2";
  color: #FFF;
  line-height: 2.8rem;

  padding: 0 0.5rem;
}

.content-button-four {
  background-color: #c10008;
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-block-four {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  color: #FFF !important;
  width: 35rem;
  height: 5.6rem;
  font: 700 2.5rem Arial;
  border-radius: 1rem;
  text-decoration: none !important;
  border: 0;
  outline: 0;
  transition: opacity 0.5s;
}

.button-block-four:hover {
  opacity: 0.8;
}

.block-five {
  background-image: url("../images/background-block-five.png");
  background-size: cover;

  padding-top: 5rem;
}

.title-block-five {
  font: 900 2.8rem "Nunito";
  text-transform: uppercase;
  color: #193c76;
  line-height: 3rem;

  padding: 0 2rem;
}

.text-block-five {
  font: 800 2.5rem "Nunito";
  text-transform: uppercase;
  color: #000;
  line-height: 2.8rem;

  padding: 2rem;
}

.text-block-five span {
  color: #c10008;
}

.image-block-five {
  width: 100%;
  max-width: 70rem;
}

.content-five-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  padding: 2rem 0;
}

.button-block-five {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #c10008;
  color: #FFF !important;
  width: 35rem;
  height: 5.6rem;
  font: 700 3rem Arial;
  border-radius: 1rem;
  text-decoration: none !important;
  border: 0;
  outline: 0;
  transition: opacity 0.5s;
}

.button-block-five:hover {
  opacity: 0.8;
}

.block-six {
  background-color: #e5e5e5;
  padding-top: 2rem;
}

.title-block-six {
  font: 900 2.3rem "Nunito";
  text-transform: uppercase;
  color: #000;
  line-height: 2.8rem;

  padding: 2rem;
}

.carousel {
  background-color: #FFF;
  padding: 3rem;
}

.carousel-control-prev,
.carousel-control-next {
  background-color: rgba(0, 0, 0, 0.2);
  width: 2.5rem !important;
} 

.title-timeline {
  font: 800 2.2rem "Nunito";
  text-transform: uppercase;
  color: #c10008 !important;
  line-height: 2.8rem;
}

.text-timeline {
  padding-top: 1rem ;
  font: 1.3rem "Nunito";
  color: #000;
  line-height: 1.6rem;
}

.button-block-six {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #c10008;
  color: #FFF !important;
  width: 35rem;
  height: 5.6rem;
  font: 700 3rem Arial;
  border-radius: 1rem;
  text-decoration: none !important;
  border: 0;
  outline: 0;
  transition: opacity 0.5s;
}

.button-block-six:hover {
  opacity: 0.8;
}

.block-button-six {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem 0;
}

.content-six-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  padding: 2rem 0;
}

.text-line {
  font: 800 1.5rem "Nunito" !important;
  color: #000 !important;
  line-height: 2rem;
}

.title-timeline {
  font: 800 2rem "Nunito" !important;
  text-transform: uppercase;
  color: #c10008 !important;
  line-height: 3.2rem;
}

.text-timeline {
  padding-top: 1rem;
  font: 1.5rem "Nunito" !important;
  color: #000 !important;
  line-height: 2.2rem;
}

.content-timeline {
  background-color: #FFF !important;
  min-height: 25rem !important;
  border-radius: 0.5rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.line-ultimato {
  left: 1665px !important;
}

.block-seven {
  padding: 4rem;
}

.colunm-seven {
  margin-bottom: 3rem;
}

.colunm-seven img {
  width: 20rem;
}

.title-evidence {
  font: 800 2rem "Baloo Tamma 2";
  text-transform: uppercase;
  color: #c10008;
  line-height: 2.8rem;

  padding: 2rem;
}

.title-evidence span {
  color: #000;
}

.text-evidence {
  font: 1.6rem "Nunito";
  color: #000;
  line-height: 2rem;
}

.button-block-seven {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #c10008;
  color: #FFF !important;
  width: 35rem;
  height: 5.6rem;
  font: 700 2.8rem Arial;
  border-radius: 1rem;
  text-decoration: none !important;
  border: 0;
  outline: 0;
  transition: opacity 0.5s;
}

.button-block-seven:hover {
  opacity: 0.8;
}

.block-button-seven {
  display: flex;
  justify-content: center;
  align-items: center;
}

.background-black {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  height: 10rem;
}

.title-block-seven {
  font: 700 2rem "Baloo Tamma 2";
  text-transform: uppercase;
  color: #FFF;
  line-height: 2.8rem;
}

.block-eight {
  background-color: #e5e5e5;
  padding: 4rem 0;
}

.title-block-eight {
  font: 800 2.4rem "Baloo Tamma 2";
  text-transform: uppercase;
  color: #000;
  line-height: 2.8rem;
}

.text-block-eight {
  font: 1.8rem "Baloo Tamma 2";
  color: #000;
  line-height: 2.2rem;
  padding: 1rem;
}

.title-block-eight span {
  color: #c10008;
}

.country-reviews {
  margin: 3rem 0;
}

.center-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.country-flags {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.country-flags li {
  margin-right: 1.5rem;
}

.flag {
  width: 6rem;
  opacity: 0.5;
  border-radius: 0.5rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.active-flags {
  opacity: 1;
}

.descriptions-country {
  margin-bottom: 1rem;
  padding: 2.5rem;
  background-color: #FFF;
  border-radius: 0.5rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 80vw;
  max-width: 75rem;
  height: 27rem;
}

.active-country {
  display: inline !important;
}

.title-country {
  font: 800 2.4rem "Baloo Tamma 2";
  text-transform: uppercase;
  color: #c10008;
  line-height: 2.8rem;
}

.text-country {
  font: 1.8rem "Baloo Tamma 2";
  color: #000;
  line-height: 2.2rem;
}

.text-country span {
  font-size: 1.4rem;
  line-height: 1.6rem;
}

.description-flag {
  display: none;
}

.button-block-eight {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #c10008;
  color: #FFF !important;
  width: 35rem;
  height: 5.6rem;
  font: 700 2.8rem Arial;
  border-radius: 1rem;
  text-decoration: none !important;
  border: 0;
  outline: 0;
  transition: opacity 0.5s;
}

.button-block-eight:hover {
  opacity: 0.8;
}

.block-button-eight {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  margin: 3rem 0;
  height: 10rem;
  padding-top: 3rem !important;
}

.icon-sociais {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1.4rem 0;
}

.text-social {
  font: 3rem "Baloo Tamma 2";
  color: #000;
  line-height: 4rem;
  text-align: center;
}

.link-social {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 1.5rem;
  text-decoration: none !important;
  box-shadow: 0;
  transition: top 0.3s;
}

.link-social:hover {
  position: relative;
  top: -5px
}

.icon-facebook {
  width: 2rem;
}

.icon-instagram {
  width: 3.5rem;
}

.icon-twitter {
  width: 3.5rem;
}

.icon-youtube {
  width: 3.5rem;
}

.line-block-footer {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 3rem 0;
}

.image-footer-idec {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
}

.image-footer-alianca {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
}

.image-footer-idec img {
  width: 25rem;
}

.image-footer-alianca img {
  width: 25rem;
}

@media (min-width: 992px) {
  body {
    font-size: 62.5%;
  }

  .mobile {
    display: none;
  }

  .desktop {
    display: inline;
  }

  .content-image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 12rem;
  }

  .menu-nav li + li {
    margin-left: 3rem;
  }
  
  .link-item {
    font-size: 2rem;
  }

  .social-rede {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .text-social {
    font-size: 2rem;
    line-height: 2.2rem;
    text-align: right;
    width: 17rem;

    padding-top: 2.5rem;
    padding-right: 2rem;
  }

  .content-footer {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .image-footer-idec {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 2rem;
  }
  
  .image-footer-alianca {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 4rem;
  }

  .block-one {
    background-image: url("../images/background-block-one.png");
    background-size: cover;
  }

  .content-block-one {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-top: 2rem;
    bottom: -0.5rem;
  }

  .container-one {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60rem;
  }

  .image-block-one {
    width: 80%;
    max-width: 79rem;
  }
  
  .title-block-one {
    font-size: 3.5rem;
    line-height: 4.5rem;
    width: 40rem;
  }
  
  .title-block-one span {
    font-size: 7.2rem;
    font-weight: 900;
  }

  .block-body-one {
    width: 700rem;
    margin: 0 2rem;
  }
  
  .text-block-one {
    font-size: 2rem;
    line-height: 2.4rem;
    width: 30rem;
    font-weight: 900;
    padding-bottom: 1.5rem;
  }
  
  .text-block-one span {
    font-size: 3.2rem;
  }

  .button-block-one {
    width: 25rem;
    height: 5.6rem;
    font-size: 2.8rem;
  }

  .peticao {
    width: 37rem;
  }

  .form-peticao {
    padding: 1rem 2rem;
  }
  
  .block-total {
    padding: 1rem 2.6rem;
    font-size: 2.7rem;
  }

  .button-form {
    width: 20rem;
    height: 5rem;
    font-size: 2.5rem;
  }

  .button-apoio {
    display: flex;
    justify-content: center;
  }

  .button-facebook {
    width: 13rem;
    height: 5rem;
    font-size: 2rem;
  }

  .button-twiiter {
    width: 13rem;
    height: 5rem;
    font-size: 2rem;
  }

  .button-compartilhe {
    display: flex;
    justify-content: center;
  }

  .block-two {
    padding: 10rem 0;
  }

  .block-text-primary-two {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 2rem;
  }

  .block-text-secondary-two {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 5rem;
  }
  
  .title-block-two {
    font-size: 3.5rem;
    text-transform: uppercase;
    color: #FFF;
    line-height: 4rem;
  
    padding: 0 4rem;
  }
  
  .title-block-two span {
    color: #c10008;
  }
  
  .text-block-two {
    width: 65rem;
    font-size: 1.8rem;
    line-height: 2.8rem;
  
    padding: 0;
    margin-bottom: 0;
  }

  .block-title-three {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .block-text-three {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .title-block-three {
    width: 65rem;
    font-size: 3rem;
    line-height: 3.2rem;
    padding: 4rem 0;
  }
  
  .title-block-three span {
    color: #c10008;
  }
  
  .background-white {
    padding: 6rem 0;
  }
  
  .subtitle-block-three-red {
    font-size: 5.5rem;
    line-height: 6rem;
  }
  
  .subtitle-block-three-black {
    font-size: 5.5rem;
    line-height: 6rem;
  }
  
  .text-block-three {
    width: 60rem;
    font-size: 2rem;
    color: #5b5858;
    line-height: 2.4rem;

  }

  .content-button-three {
    height: 10rem;
  }
  
  .button-block-three {
    width: 30rem;
    font-size: 2.8rem;
  }

  .block-four {
    padding-top: 8rem;
  }

  .block-title-four {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .block-text-primary-four {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 2rem;
  }

  .block-text-secondary-four {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 1rem;
  }
  
  .title-block-four {
    width: 50rem;
    font-size: 3.2rem;
    line-height: 3.5rem;
  }
  
  .title-block-four span {
    font-size: 4.5rem;
  }
  
  .line-block-four {
    padding: 3rem 0;
  }

  .text-primary-block-four {
    width: 83rem;
    font-size: 2rem;
    line-height: 2.5rem;
  
    padding: 0 5rem;
  }
  
  .text-secondary-block-four {
    width: 83rem;
    font-size: 2rem;
    line-height: 2.5rem;
  
    padding: 0 5rem;
  }

  .content-button-four {
    margin-top: 4rem;
    height: 10rem;
  }

  .button-block-four {
    width: 30rem;
    font-size: 2rem;
  }

  .block-five {
    background-image: url("../images/background-block-five.png");
    background-size: cover;
    padding-top: 7rem;
    padding-bottom: 0;
  }

  .block-title-five {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .block-text-five {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .title-block-five {
    width: 75rem;
    font-size: 3.5rem;
    line-height: 4rem;
  
    padding: 0 5rem;
  }
  
  .text-block-five {
    width: 65rem;
    font-size: 3rem;
    line-height: 3.5rem;
  
    padding: 2rem 5rem;
  }
  
  .content-five-button {
    background-color: #000;
    height: 10rem;
  }
  
  .button-block-five {
    width: 30rem;
    height: 5.6rem;
    font-size: 2.8rem;
  }  

  .block-title-six {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .title-block-six {
    width: 85rem;
    font-size: 2.8rem;
    line-height: 3.6rem;
  }

  .text-line {
    font: 800 1.5rem "Nunito" !important;
    color: #000 !important;
  }

  .title-timeline {
    font: 800 2.4rem "Nunito" !important;
    text-transform: uppercase;
    color: #c10008 !important;
    line-height: 3.2rem;
  }
  
  .text-timeline {
    padding-top: 1rem;
    font: 2.3rem "Nunito" !important;
    color: #000 !important;
    line-height: 2.2rem;
  }

  .content-timeline {
    background-color: #FFF !important;
    min-height: 25rem !important;
    border-radius: 0.5rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }

  .line-ultimato {
    left: 1665px !important;
  }

  .title-block-seven {
    font-size: 3rem;
  }
  
  .title-evidence {
    font-size: 2.8rem;
    line-height: 3.2rem;
  }
  
  .text-evidence {
    font-size: 1.7rem;
    line-height: 2.2rem;
    padding: 0 2rem;
  }

  .block-title-eight {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .primary {
    width: 80rem !important;
  }

  .title-block-eight {
    width: 100rem;
    font-size: 3rem;
    line-height: 3.4rem;
  }

  .block-text-eight {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .text-block-eight {
    width: 95rem;
    font-size: 1.9rem;
    line-height: 2.5rem;
  }
}